<div class="container mt-4">
  <h2>Lista de Usuarios</h2>

  <button class="btn btn-success mb-3" (click)="goToCreateUser()">
    + Crear Usuario
  </button>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Curso</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.dni }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.course }}</td>
        <td>
          <button
            class="btn btn-warning btn-sm"
            (click)="goToEditUser(user.id)"
          >
            Editar
          </button>
          <button
            class="btn btn-danger btn-sm ms-2"
            (click)="deleteUser(user.id)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
