<div class="d-flex flex-column vh-100">
  <!-- Header -->
  <header class="bg-primary text-white text-center py-3">
    <h1>LONGIBOX</h1>
  </header>

  <!-- Main Content (Full height minus header and footer) -->
  <main class="flex-grow-1 d-flex justify-content-center align-items-center">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="bg-dark text-white text-center py-2">
    <p>&copy; 2025 Mi Aplicación. Todos los derechos reservados.</p>
  </footer>
</div>  